@page "/table/list"
@using AutoMapper
@using Service.TableService
@using CoffeeBaz.Data.Domain
@using CoffeeBaz.Shared.DTO
@inject ITableService service
@inject IMapper mapper
<div class="row">
    <div class="col-md-10">
        <h3>لیست میز ها</h3>
    </div>
    <div class="col-md-2">
        <NavLink href="/table/upsert" class="btn btn-primary">اضافه کردن میز </NavLink>
    </div>
</div>
<div class="row">
    @{
        foreach (var table in tables)
        {
           <TableComponent dd=table></TableComponent>
        }
    }
</div>
@code {
    private IList<TableDTO> tables;
    protected override Task OnInitializedAsync()
    {
        var data = service.GetAllEntites().Result;
        tables = mapper.Map<IList<Table>,IList<TableDTO>>(data);
        return base.OnInitializedAsync();
    }
}
