@page "/table/list"
@using AutoMapper
@using Service.TableService
@using CoffeeBaz.Data.Domain
@using CoffeeBaz.Shared.DTO
@inject ITableService service
@inject IMapper mapper
<h3>لیست میز ها</h3>
<div class="row">
    @{
        foreach (var table in tables)
        {
           <TableComponent dd=table></TableComponent>
        }
    }
</div>
@code {
    private IList<TableDTO> tables;
    protected override Task OnInitializedAsync()
    {
        var data = service.GetAllEntites().Result;
        tables = mapper.Map<IList<Table>,IList<TableDTO>>(data);
        return base.OnInitializedAsync();
    }
}
