@using AutoMapper
@using CoffeeBaz.Data.Domain
@using CoffeeBaz.Shared.DTO
@using CoffeeBaz.Service.TableService;
@inject ITableService service; 
@inject IMapper mapper;
<div class=@parentClass>
    <div class="card">
        <div class="card-header">
            <label>شماره میز : </label>
            <span>@dd.Number</span>
        </div>
        <div class="card-body">
            <label>میز فعال : </label>
            <span>@(dd.Active? "بله":"خیر")</span>
            <hr />
            <label>میز رزو شده  : </label>
            <span>@(dd.Reserved? "بله":"خیر")</span>
            <hr />
            <label>میز Vip : </label>
            <span>@(dd.Vip? "بله":"خیر")</span>
            <hr />
            <div> 
                <NavLink href=@($"table/upsert/{dd.Id}")>
                    <i class="oi oi-pencil"></i>
                </NavLink>
                <i class="oi oi-delete" @onclick="Delete"></i>
            </div>
        </div>
    </div>
</div>

@code {
    public string parentClass{ get; set; }
    [Parameter]
    public TableDTO dd { get; set; }
    private void Delete()
    {
        service.Delete(mapper.Map<Table>(dd));
        parentClass += " none_display";
    }
    protected override void OnInitialized()
    {
        parentClass = "col-md-4";
        base.OnInitialized();
    }
}
