
@using AutoMapper
@using CoffeeBaz.Data.Domain
@using CoffeeBaz.Shared.DTO
@using CoffeeBaz.Service.CategoryService;
@inject ICategoryService service; 
@inject IMapper mapper;
<div class=@parentClass>
    <div class="card">
        <div class="card-header">
            <label>نام : </label>
            <span>@dd.Name</span>
        </div>
        <div class="card-body">
            <label>دسته بندی فعال : </label>
            <span>@(dd.Active? "بله":"خیر")</span>
            <hr />
            <label>دسته بندی Vip : </label>
            <span>@(dd.Vip? "بله":"خیر")</span>
            <hr />
            <div> 
                <NavLink href=@($"category/upsert/{dd.Id}")>
                    <i class="oi oi-pencil"></i>
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    public string parentClass{ get; set; }
    [Parameter]
    public CategoryDTO dd { get; set; }
    private void Delete()
    {
        service.Delete(mapper.Map<Category>(dd));
        parentClass += " none_display";
    }
    protected override void OnInitialized()
    {
        parentClass = "col-md-4";
        base.OnInitialized();
    }
}
