@page "/category/list"
@using CoffeeBaz.Shared.DTO
@using AutoMapper
@using Service.CategoryService
@using CoffeeBaz.Data.Domain
@inject ICategoryService service
@inject IMapper mapper
<div class="row">
    <div class="col-md-9">
        <h3>لیست دسته بندی ها</h3>
    </div>
    <div class="col-md-3">
        <NavLink href="/category/upsert" class="btn btn-primary">اضافه کردن دسته بندی </NavLink>
    </div>
</div>
<div class="row">
    @{
        if (tables.Any())
        {
            foreach (var table in tables)
            {
                <CategoryComponent dd=table></CategoryComponent>
            }
        }
        else
        {
            <Alert title="هیچ دسته بندی از کافه باز ثبت نشده" 
                   typeAlert=Alert.TypeAlert.Info></Alert>
        }
       
    }
</div>
@code {
    private IList<CategoryDTO> tables;
    protected override Task OnInitializedAsync()
    {
        tables = new List<CategoryDTO>();
        var data =  service.GetAllEntites();
        tables = mapper.Map<IList<Category>,IList<CategoryDTO>>(data.Result);
        return base.OnInitializedAsync();
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }
}