@inherits LayoutComponentBase

<PageTitle>کافه باز</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        
    </main>
    @*<div style="position:fixed;bottom:0px;background-color:black;text-align:center;width:100%;opacity:0.5">
            <b>برنام نویس : ارشاد</b>
        </div>*@
</div>
