@using Microsoft.AspNetCore.Components.Web
@namespace CoffeeBaz.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="CoffeeBaz.Web.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        let sync = [];
        function RequestList(){
            return JSON.stringify(sync);
        }
        function Counter(flag,productId,price=0)
        {
             let item = document.getElementById("counter_"+productId);
             let oldNumber= parseInt(item.innerHTML);
             
            if(flag>0){
                item.innerHTML = oldNumber+1;
            }else{
                if(oldNumber<=0)
                    return;
            item.innerHTML = oldNumber-1;
            }
            if(!sync.some(x=>x.id == productId))
            {
                sync.push({id:productId,count:parseInt(item.innerHTML),price : price});
            }else{
               sync =  sync.filter(x=>x.id != productId);
               sync.push({id:productId,count:parseInt(item.innerHTML),price});
            }
        }
    </script>
</body>

</html>
