@page "/"
<PageTitle>کافه باز :)</PageTitle>
 <div class="main main-100">
        <img src="img/coffe-2.jpg" alt="">
    </div>
    <div class="index-baners">
        <div class="main main-100 no-col-baners">
            <div class="pic pic-black">
                <figure>
                    <img src="img/home-restaurant-img-22.jpg" alt="">
                    <figcaption class="dark">
                        <h3>Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur adipisicing elit</p>
                        <span><a href="#">Read More<i class="fa fa-long-arrow-right"></i></a></span>
                    </figcaption>
                </figure>
            </div>
            <div class="pic">
                <figure>
                    <img src="img/home-restaurant-img-21.jpg" alt="">
                    <figcaption>
                        <h3>Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur adipisicing elit</p>
                        <span><a href="#"><i class="fa fa-long-arrow-right"></i></a></span>
                    </figcaption>
                </figure>
            </div>
            <div class="pic">
                <figure>
                    <img src="img/home-restaurant-img-23.jpg" alt="">
                    <figcaption>
                        <h3>Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur adipisicing elit</p>
                        <span><a href="#"><i class="fa fa-long-arrow-right"></i></a></span>
                    </figcaption>
                </figure>
            </div>
            <div class="pic  pic-black">
                <figure>
                    <img src="img/home-restaurant-img-20.jpg" alt="">
                    <figcaption class="dark">
                        <h3>Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur adipisicing elit</p>
                        <span><a href="#">Read More<i class="fa fa-long-arrow-right"></i></a></span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>




    <div class="feature">
        <div class="main">
            <div class="f-item w-33">
                <img src="img/home-restaurant-img-12.jpg" alt="">
                <h4>Lorem ipsum dolor sit amet</h4>
                <ul>
                    <li>Test</li>
                    <li>Main</li>
                    <li>Quick</li>
                </ul>
            </div>
            <div class="f-item w-33">
                <img src="img/home-restaurant-img-11.jpg" alt="">
                <h4>Lorem deleniti sit amet</h4>
                <ul>
                    <li>Free</li>
                    <li>Times</li>
                    <li>Order</li>
                </ul>
            </div>
            <div class="f-item w-33">
                <img src="img/home-restaurant-img-10.jpg" alt="">
                <h4>deleniti quod blanditiis</h4>
                <ul>
                    <li>Fast</li>
                    <li>The Best</li>
                    <li>Item</li>
                </ul>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-pic">
            <img src="img/home-restaurant-img-07.png" alt="">
        </div>

        <div class="footer-menu">
            <div class="main">
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Foods</a></li>
                <li><a href="#">Contact</a></li>
            </div>
        </div>

    </footer>
